# Compiled
*.elc

*.json
.obsidian/
.tangent/
.tangentfolder
*.epub
*.pdf
*odt

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
